body {
  font-family: "Mukta", sans-serif;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
h1 {
  font-family: "Mukta", sans-serif;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #252525;
  font-size: 18px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.container {
  padding: 10px;
  margin: 20px auto;
}
.mb-3 {
  border-radius: 10px;
  max-width: 600px;
  margin-top: 20px;
}
.card {
  max-width: 100%;
}
.date-time {
  line-height: 20px;
  color: #00587a;
}
.btn {
  margin-left: 10px;
}
#icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.forecast {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.col {
  padding: 0 12px;
}
.row-temp .fa-sun {
  font-size: 75px;
}
.card-body p {
  font-size: 20px;
}
.footer {
  color: white;
}
